{% from "decorations.html" import header %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Birb{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    {% if self.background_url() %}
    <link rel="preload" as="image" href="{{ self.background_url() }}">
    {% endif %}
</head>
<body id="{% block id %}{% endblock %}">
    <nav>
        <a href="/">Recent Top 10s</a>
        <a href="/hubs">Hubs</a>
        <a href="/rankings">Rankings</a>
    </nav>
    {{ header(self.title()) }}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% if query_time %}
    <footer>
        <p class="database-time">Database took {{ (1000 * query_time) | round(1) }}ms</p>
    </footer>
    {% endif %}
    {% if self.background_url() %}
    <div 
        class="background"
        style="background-image: url('{{ self.background_url() }}');"
    ></div>
    {% endif %}
</body>
</html>
