{% extends "base.html" %}
{% from "macros.html" import render_level %}
{% from "decorations.html" import underline %}

{% block id %}hubs{% endblock %}

{% block title %}Hubs{% endblock %}

{% macro render_levels(levels) %}
    {% for level in levels %}
        <p class="level">{{ render_level(level) }}</p>
    {% endfor %}
{% endmacro %}

{% block content %}
    <div class="vertical-flow">
        {% for hub, sub_hubs in hubs.items() %}
            <div class="box">
                <h2 class="hub-name header-with-underline">{{ hub }}</h2>
                {{ underline() }}
                <div class="flow">
                    {% if sub_hubs is mapping %}
                        {% for sub_hub, levels in sub_hubs.items() %}
                            <div class="box inner-box">
                                <h3 class="subhub-name header-with-underline">{{ sub_hub }}</h3>
                                {{ underline() }}
                                {{ render_levels(levels) }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="flow">
                            <div>
                                {{ render_levels(sub_hubs) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
