{% extends "base.html" %}
{% from "macros.html" import render_level %}

{% block id %}hubs{% endblock %}

{% block title %}Hubs{% endblock %}

{% macro render_levels(levels) %}
    <ul>
        {% for level in levels %}
            <li>{{ render_level(level) }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    {% for hub, sub_hubs in hubs.items() %}
        <h2>{{ hub }}</h2>
        <div class="wrap">
            {% if sub_hubs is mapping %}
                {% for sub_hub, levels in sub_hubs.items() %}
                    <div class="hub">
                        <h3>{{ sub_hub }}</h3>
                        {{ render_levels(levels) }}
                    </div>
                {% endfor %}
            {% else %}
                <div class="hub">
                    {{ render_levels(sub_hubs) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}