{% extends "base.html" %}
{% from "macros.html" import render_user %}

{% block id %}level-leaderboard{% endblock %}

{% block title %}{{ level }}{% endblock %}

{% macro render_leaderboard(name, replays) %}
    <div class="box">
        <h2 class="leaderboard-name">{{ name }}</h2>
        <table>
            <thead>
                <tr>
                    <th class="rank">#</th>
                    <th class="player">Player</th>
                    <th class="time">Time</th>
                    <th class="date">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for replay in replays %}
                <tr>
                    <td class="rank">{{ replay.rank }}</td>
                    <td class="player">{{ render_user(replay.user) }}</td>
                    <td class="time">{{ replay.time }}</td>
                    <td class="date">{{ replay.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% block content %}
    <div class="flow">
        {{ render_leaderboard("Best Time", replays.best_time) }}
        {{ render_leaderboard("All Birds", replays.all_birds) }}
    </div>
{% endblock %}
