{% extends "base.html" %}
{% from "macros.html" import render_user %}

{% block id %}level-leaderboard{% endblock %}

{% block title %}{{ level }}{% endblock %}

{% macro render_leaderboard(name, replays) %}
    <div class="box">
        <h2 class="leaderboard-name">{{ name }}</h2>
        <div class="grid">
            <div class="row header">
                <p class="rank">#</p>
                <p class="player">Player</p>
                <p class="time">Time</p>
                <p class="date">Date</p>
            </div>
            {% for replay in replays %}
                <div class="row">
                    <p class="rank">{{ replay.rank }}</p>
                    <p class="player">{{ render_user(replay.user) }}</p>
                    <p class="time">{{ replay.time }}</p>
                    <p class="date">{{ replay.date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="flow">
        {{ render_leaderboard("Best Time", replays.best_time) }}
        {{ render_leaderboard("All Birds", replays.all_birds) }}
    </div>
{% endblock %}