{% extends "base.html" %}

{% block id %}level{% endblock %}

{% block title %}{{ level }}{% endblock %}

{% macro render_leaderboard(replays) %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Time</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for replay in replays %}
                <tr>
                    <td data-label="Rank">{{ replay.rank }}</td>
                    <td data-label="Player">{{ replay.player }}</td>
                    <td data-label="Time">{{ replay.time }}</td>
                    <td data-label="Date">{{ replay.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block content %}
    <div class="wrap collapse-left">
        <div>
            <h2 class="collapse-top">Best Time</h2>
            {{ render_leaderboard(replays.best_time) }}
        </div>
        <div>
            <h2 class="collapse-top">All Birds</h2>
            {{ render_leaderboard(replays.all_birds) }}
        </div>
    </div>
{% endblock %}