{% extends "base.html" %}
{% from "macros.html" import render_user %}

{% block id %}rankings{% endblock %}

{% block title %}Rankings{% endblock %}

{% macro render_rankings(name, rankings) %}
    <div class="box">
        <h2 class="leaderboard-name">{{ name }}</h2>
        <div class="grid">
            <div class="row header">
                <p class="rank">#</p>
                <p class="player">Player</p>
                <p class="points">Points</p>
            </div>
            {% for ranking in rankings %}
                <div class="row">
                    <p class="rank">{{ ranking.rank }}</p>
                    <p class="player">{{ render_user(ranking.user) }}</p>
                    <p class="points">{{ ranking.points }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="flow">
        {{ render_rankings("Best Time", best_time_rankings) }}
        {{ render_rankings("All Birds", all_birds_rankings) }}
        {{ render_rankings("Combined", combined_rankings) }}
    </div>
{% endblock %}