{% extends "base.html" %}
{% from "macros.html" import render_user %}
{% from "decorations.html" import underline %}

{% block id %}rankings{% endblock %}

{% block title %}Rankings{% endblock %}

{% block background_url %}{{ url_for('static', filename='backgrounds/rankings.jpg') }}{% endblock %}

{% macro render_rankings(name, rankings) %}
    <div class="box">
        <h2 class="leaderboard-name header-with-underline">{{ name }}</h2>
        {{ underline() }}
        <table>
            <thead>
                <tr>
                    <th class="rank">#</th>
                    <th class="player">Player</th>
                    <th class="points">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for ranking in rankings %}
                <tr>
                    <td class="rank">{{ ranking.rank }}</td>
                    <td class="player">{{ render_user(ranking.user) }}</td>
                    <td class="points">{{ ranking.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% block content %}
    <div class="flow">
        {{ render_rankings("Best Time", best_time_rankings) }}
        {{ render_rankings("All Birds", all_birds_rankings) }}
        {{ render_rankings("Combined", combined_rankings) }}
    </div>
{% endblock %}
