{% extends "base.html" %}
{% from "macros.html" import render_level, render_user %}

{% block id %}recent-top-10{% endblock %}

{% block title %}Recent Top 10s{% endblock %}

{% block background_url %}{{ url_for('static', filename='backgrounds/recent_top_10.webp') }}{% endblock %}

{% block content %}
    <div class="vertical-flow">
        <div class="box">
            <table>
                <thead>
                    <tr>
                        <th class="rank" scope="col">#</th>
                        <th class="player" scope="col">Player</th>
                        <th class="level" scope="col">Level</th>
                        <th class="time" scope="col">Time</th>
                        <th class="date" scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for replay in replays %}
                        <tr>
                            <td class="rank">{{ replay.rank }}</td>
                            <td class="player">{{ render_user(replay.user) }}</td>
                            <td class="level">{{ render_level(replay.level) }}</td>
                            <td class="time">{{ replay.time }}</td>
                            <td class="date">{{ replay.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
