{% extends "base.html" %}
{% from "macros.html" import render_level, render_user %}

{% block id %}recent-top-10{% endblock %}

{% block title %}Recent Top 10s{% endblock %}

{% block content %}
    <div class="flow">
        <div class="box">
            <div class="grid">
                <div class="row header">
                    <p class="rank">#</p>
                    <p class="player">Player</p>
                    <p class="level">Level</p>
                    <p class="time">Time</p>
                    <p class="date">Date</p>
                </div>
                {% for replay in replays %}
                    <div class="row">
                        <p class="rank">{{ replay.rank }}</p>
                        <p class="player">{{ render_user(replay.user) }}</p>
                        <p class="level">{{ render_level(replay.level) }}</p>
                        <p class="time">{{ replay.time }}</p>
                        <p class="date">{{ replay.date }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
