{% extends "base.html" %}
{% from "macros.html" import render_level %}

{% block id %}user-profile{% endblock %}

{% block title %}{{ user_name }}{% endblock %}

{% macro render_column(name, all_birds) %}
    <div class="box">
        <h2 class="leaderboard-name">{{ name }}</h2>
        <div class="vertical-flow">
            {% set offset = 1 if all_birds else 0 %}
            {% for hub, sub_hubs in hubs.items() %}
                <div class="box">
                    <h2 class="hub-name">{{ hub }}</h2>
                    {% if sub_hubs is mapping %}
                        {% for sub_hub, levels in sub_hubs.items() %}
                            <h3 class="subhub-name">{{ sub_hub }}</h3>
                            {{ render_levels(levels, offset) }}
                        {% endfor %}
                    {% else %}
                        {{ render_levels(sub_hubs, offset) }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_levels(levels, offset) %}
    <div class="grid">
        {% for level in levels %}
            <div class="row">
                {% if (level[0] + offset) in replays %}
                    <p class="rank">{{ replays[level[0] + offset].rank }}</p>
                    <p class="level">{{ render_level(level) }}</p>
                    <p class="time">{{ replays[level[0] + offset].time }}</p>
                    <p class="date">{{ replays[level[0] + offset].date }}</p>
                {% else %}
                    <p class="rank">??</p>
                    <p class="level">{{ render_level(level) }}</p>
                    <p class="dummy"></p>
                    <p class="dummy"></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% block content %}
    <div class="flow">
        {{ render_column("Best Time", False) }}
        {{ render_column("All Birds", True) }}
    </div>
{% endblock %}