{% extends "base.html" %}
{% from "macros.html" import render_level %}
{% from "decorations.html" import underline %}

{% block id %}user-profile{% endblock %}

{% block title %}{{ user_name }}{% endblock %}

{% block background_url %}{{ url_for('static', filename='backgrounds/user_profile.webp') }}{% endblock %}

{% macro render_column(name, all_birds) %}
    <div class="box">
        <h2 class="leaderboard-name header-with-underline">{{ name }}</h2>
        {{ underline() }}
        <div class="vertical-flow">
            {% set offset = 1 if all_birds else 0 %}
            {% for hub, sub_hubs in hubs.items() %}
                <div class="box inner-box stretched">
                    <h2 class="hub-name header-with-underline">{{ hub }}</h2>
                    {{ underline() }}
                    {% if sub_hubs is mapping %}
                        {% for sub_hub, levels in sub_hubs.items() %}
                            <h3 class="subhub-name">{{ sub_hub }}</h3>
                            {{ render_levels(levels, offset) }}
                        {% endfor %}
                    {% else %}
                        {{ render_levels(sub_hubs, offset) }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_levels(levels, offset) %}
    <table>
        <tbody>
            {% for level in levels %}
            <tr>
                {% if (level[0] + offset) in replays %}
                <td class="rank">{{ replays[level[0] + offset].rank }}</td>
                <td class="level">{{ render_level(level) }}</td>
                <td class="time">{{ replays[level[0] + offset].time }}</td>
                <td class="date">{{ replays[level[0] + offset].date }}</td>
                {% else %}
                <td class="rank">??</td>
                <td class="level">{{ render_level(level) }}</td>
                <td class="dummy"></td>
                <td class="dummy"></td>
                {% endif %}
            </tr>
            {% endfor %}
        <tbody>
    </table>
{% endmacro %}

{% block content %}
    <div class="flow">
        {{ render_column("Best Time", False) }}
        {{ render_column("All Birds", True) }}
    </div>
{% endblock %}
