@background: #f8fff1;

body {
  background-color: @background;
  font-family: sans-serif;
  margin: 0;
}

nav {
  display: flex;
  width: 100%;
  background: #cae8ac;

  a {
    padding: 1em;
    color: black;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background: @background;
    }
  }
}

.database-time {
  text-align: right;
  padding-right: 1em;
}

.page-name, .leaderboard-name, .hub-name {
  text-align: center;
}

.flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 0 0.2rem;
}

.vertical-flow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.2rem 0.2rem;
}

.box {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.grid {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.row {
  display: contents;
}

.header {
  font-weight: bold;
}

.rank, .player, .time, .date, .level, .points, .dummy {
  margin: 0;
}

.rank, .points {
  justify-self: center;
}

.time {
  justify-self: right;
}

.player, .level {
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

#level-leaderboard .grid {
  grid-template-columns: max-content auto max-content max-content;
}

#recent-top-10 {
  .grid {
    grid-template-columns: max-content auto max-content max-content max-content;
  }

  @media screen and (max-width: 500px) {
    .grid {
      grid-template-columns: max-content auto max-content;
    }
    .time, .date {
      display: none;
    }
  }
}

#rankings .grid {
  grid-template-columns: max-content auto max-content;
}

#user-profile .grid {
  grid-template-columns: max-content auto max-content max-content;
}

#hubs {
  .subhub-name {
    margin-top: 0;
  }

  .flow {
    justify-content: center;
    text-align: center;
  }

  .vertical-flow {
    align-items: center;
  }
}