@background: linear-gradient(to bottom, #add948, #51a546);
@box-bg: #043a3d;
@box-bg-lighten: lighten(@box-bg, 3%);
@box-fg: whitesmoke;
@title-bg: whitesmoke;
@title-fg: black;

body {
  background: @background;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

main {
  padding: 0 20px;
}

nav {
  display: flex;
  width: 100%;
  background: @box-bg;

  a {
    padding: 1em;
    color: @box-fg;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background-color: @box-bg-lighten;
    }
  }
}

.page-name, .leaderboard-name, .hub-name {
  text-align: center;
}

.flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 0 0.2rem;
}

.vertical-flow {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;
}

.box {
  padding: 2rem;
  border-radius: 6px;
  background: @box-bg;
  color: @box-fg;
  a {
    color: @box-fg;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &.inner-box {
    padding: 1rem;
    background: @box-bg-lighten;
  }
  &.stretched {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  td, th {
    padding: 10px 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:  200px;
  }

  thead {
    border-bottom: 2px solid white;
  }
  tbody {
    tr {
      &:nth-child(even) {
        @bg: @box-bg-lighten;
        background: linear-gradient(to right, fade(@bg, 0%), @bg 5%, @bg 95%, fade(@bg, 0%));
      }
      &:nth-child(odd) {
        @bg: @box-bg;
        background: linear-gradient(to right, fade(@bg, 0%), @bg 5%, @bg 95%, fade(@bg, 0%));
      }
    }
  }

  .rank {
    text-align: left;
    font-weight: bold;
  }
  .player {
    text-align: left;
  }
  .level {
    text-align: left;
  }
  .time {
    text-align: center;
  }
  .date {
    text-align: right;
  }
}

#recent-top-10 {
  @media screen and (max-width: 600px) {
    .time, .date {
      display: none;
    }
  }
}

#hubs {
  .subhub-name {
    margin-top: 0;
  }

  .flow {
    justify-content: center;
    text-align: center;
  }
}

.database-time {
  text-align: right;
  padding-right: 1em;
}

// svg decorations

.header-with-underline {
  margin-bottom: 0;
}

.underline {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;

  .underline-middle {
    flex-grow: 1;
    height: 32px;
  }
  .underline-cap-right {
    transform: rotate(180deg);
  }
}

header {
  font-weight: bold;
  margin: 2rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  h1 {
    background: @title-bg;
    color: @title-fg;

    display: inline;
    flex-grow: 1; 
    padding: 8px 20px;
    height: 38px;
    margin: 0;
    white-space: nowrap;
  }

  .header-cap-right {
    transform: scale(-1, 1);
  }
}
